.card {
	width: 300px;
	margin: 0 auto;
}

.expand-icon {
	margin-left: auto;
}

.expand-icon--hide {
	transform: rotate(0deg);
}

.expand-icon--show {
	transform: rotate(180deg);
}

.comment__input-container {
	display: flex;
	flex-direction: row;

	border: 1px solid #ece9e9;
	padding: 2px 5px;
}
