.form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	width: 80%;
	margin: 0 auto;
	border: 2px solid white;
	padding: 10px 20px;
}

.form__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 60%;
}

.form__label {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.form__input {
	width: 100%;
	padding: 10px 5px;
	font-size: 16px;
}

.error {
	border: 2px solid salmon;
}

.error::placeholder {
	color: red;
}
