.item {
	padding: 10px 0;
	border-bottom: 2px solid white;
}

.item:last-child {
	border-bottom: none;
}

.action-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.item__description {
	color: white;
	font-size: 24px;
}

.edit-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	height: 50px;
}

.edit-form__input {
	display: block;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	height: 30px;
	padding: 10px 5px;
	font-size: 16px;
}
